.topnav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #0E7AB5;
    overflow: hidden;
}

.topnav .center {
    text-align: center;
    margin-right: 20px;
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}